Homepage: https://github.com/willixix/WL-NagiosPlugins
Watch: https://raw.githubusercontent.com/willixix/WL-NagiosPlugins/master/check_uptime.pl Version[ :]+([0-9.]+)
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: check_uptime returns uptime of a system
 in text (readable) format as well as in minutes for performance graphing.
 The plugin can either run on a local unix system (using 'uptime' command)
 or check remote system by SNMP. Also it is able to report one CRITICAL
 or WARNING alert if system has been rebooted since last check.
Recommends: libnet-snmp-perl
Version: 1.0.1
