Homepage: http://git.op5.org/gitweb?p=system-addons/plugins/op5/check_libvirt.git;a=summary
Recommends: libnagios-plugin-perl, libxml-simple-perl
Suggests: libsys-virt-perl
Version: v7.0.3
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: monitor virtualization solutions using libvirt
