Watch: http://exchange.nagios.org/directory/Plugins/Operating-Systems/Linux/check-2Dmultipath-2Epl/details Current Version</div><div class="data">([0-9.]+)</div>
Version: 0.4.9
Homepage: http://exchange.nagios.org/directory/Plugins/Operating-Systems/Linux/check-2Dmultipath-2Epl/details
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: plugin to monitor the number of available and
 failed paths of multipath devices
