Homepage: http://cvs.pld-linux.org/cgi-bin/viewvc.cgi/cvs/packages/nagios-plugin-check_raid/check_raid?view=log
Watch: http://cvs.pld-linux.org/cgi-bin/viewvc.cgi/cvs/packages/nagios-plugin-check_raid/check_raid?view=log <a name="(rev[^"]+)"></a>
Suggests: cciss-vol-status, mpt-status
Version: rev1.107
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: plugin to check sw/hw RAID status
 The plugin looks for any known types of RAID configurations,
 and checks them all.
 .
 Supports:
 - Adaptec AAC RAID via aaccli or afacli or arcconf
 - AIX software RAID via lsvg
 - HP/Compaq Smart Array via cciss_vol_status (hpsa supported too)
 - HP Smart Array Controllers and MSA Controllers via hpacucli
 - HP Smart Array (MSA1500) via serial line
 - Linux 3ware SATA RAID via tw_cli
 - Linux DPT/I2O hardware RAID controllers via /proc/scsi/dpt_i2o
 - Linux GDTH hardware RAID controllers via /proc/scsi/gdth
 - Linux LSI MegaRaid hardware RAID via CmdTool2
 - Linux LSI MegaRaid hardware RAID via megarc
 - Linux LSI MegaRaid hardware RAID via /proc/megaraid
 - Linux MegaIDE hardware RAID controllers via /proc/megaide
 - Linux MPT hardware RAID via mpt-status
 - Linux software RAID (md) via /proc/mdstat
 - LSI Logic MegaRAID SAS series via MegaCli
 - LSI MegaRaid via lsraid
 - Serveraid IPS via ipssend
 - Solaris software RAID via metastat
