Homepage: http://exchange.nagios.org/directory/Plugins/Operating-Systems/Linux/check_nfsmounts/details
Recommends: libmonitoring-plugin-perl | libnagios-plugin-perl
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: checks whether there are stale NFS mounts on the host
