Watch: http://www.percona.com/downloads/percona-monitoring-plugins/LATEST/source/ >percona-monitoring-plugins-([0-9.]+)\.tar\.gz<
Version: 1.1.7
Homepage: http://www.percona.com/doc/percona-monitoring-plugins/
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: Percona Monitoring Plugins (nagios)
 Nagios MySQL Monitoring plugins writting/provided by Percona.
Suggests: percona-toolkit, python2.7, python-pymongo
