Uploaders: Bernd Zeimetz <bzed@debian.org>
Recommends: libmonitoring-plugin-perl (>= 0.31)
Version: 4.1.1
Homepage: https://github.com/matteocorti/check_lm_sensors
Watch: https://github.com/matteocorti/check_lm_sensors/releases check_lm_sensors-([0-9.]+)\.tar\.gz
Description: plugin to monitor hardware sensors
 and disk temperatures
