Recommends: freeipmi-tools, libipc-run-perl
Version: 3.13
Uploaders: Bernd Zeimetz <bzed@debian.org>
Homepage: http://www.thomas-krenn.com/en/oss/ipmi-plugin.html
Description: IPMI Sensor Monitoring Plugin
 Plugin to monitor the hardware status (fan speed, temperaturs,
 voltages, power usage, ...) of a server using IPMI.
Watch: https://raw.githubusercontent.com/thomas-krenn/check_ipmi_sensor_v3/master/check_ipmi_sensor check_ipmi_sensor_version = "([0-9.]+)";
