#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PLUGINS := $(shell find $(CURDIR) -mindepth 1 -maxdepth 1 -name .git -prune -o -name debian -prune -o -type d -printf '%f\n')

%:
	dh $@

# Here follows a small shell snipped to call dh_auto_* for all plugins
# Currently
# - if a Makefile exists in the plugin directory
#   we run dh_auto_$(1) with -O--sourcedirectory="$$plugin"
# - if $${plugin}/src exists, we run dh_auto_$(1) on that directory
# - else: fail :)
DH_AUTO_CALL = set -e; for plugin in $(PLUGINS); do \
		  if [ -f $(CURDIR)/$$plugin/Makefile ]; then \
			$$auto_command -O--sourcedirectory="$${plugin}"; \
		  elif [ -d $(CURDIR)/$$plugin/src ]; then \
			$$auto_command -O--sourcedirectory="$${plugin}/src" ; \
		  else \
			echo failed to build $$plugin; exit 255 ; \
		  fi ;\
		done

PACKAGING_HELPER = /usr/bin/python $(CURDIR)/debian/packaging-helper.py


clean: debian/copyright debian/control
	dh $@

override_dh_auto_build:
	export auto_command=`echo $@ | sed 's,override_,,'`; $(DH_AUTO_CALL)

override_dh_auto_clean:
	export auto_command=`echo $@ | sed 's,override_,,'`; $(DH_AUTO_CALL)

override_dh_auto_configure:
	export auto_command=`echo $@ | sed 's,override_,,'`; $(DH_AUTO_CALL)

override_dh_auto_install:
	export auto_command=`echo $@ | sed 's,override_,,'`; $(DH_AUTO_CALL)

override_dh_auto_test:
	-export auto_command=`echo $@ | sed 's,override_,,'`; $(DH_AUTO_CALL)


CONTROL_FILES := $(shell find $(CURDIR) -mindepth 2 -maxdepth 2 -path '$(CURDIR)/debian/*' -prune -o -type f -name control -print)
COPYRIGHT_FILES := $(shell find $(CURDIR) -mindepth 2 -maxdepth 2 -path '$(CURDIR)/debian/*' -prune -o -type f -name copyright -print)
debian/copyright: debian/copyright.in debian/packaging-helper.py $(CONTROL_FILES) $(COPYRIGHT_FILES)
	$(PACKAGING_HELPER) --copyright
	-if [ -d .git ]; then git add $@; git commit -m 'Auto update of $@' $@; fi

debian/control: debian/control.in debian/packaging-helper.py $(CONTROL_FILES)
	$(PACKAGING_HELPER) --control
	-if [ -d .git ]; then git add $@; git commit -m 'Auto update of $@' $@; fi

watch:
	$(PACKAGING_HELPER) --watch

.PHONY: watch override_dh_auto_build override_dh_auto_clean override_dh_auto_configure override_dh_auto_install override_dh_auto_test
