Build-Depends: flex, libmemcached-dev
Homepage: http://exchange.nagios.org/directory/Plugins/Websites,-Forms-and-Transactions/check_memcached-IV/details
Version: 1.2
Description: plugin to check memcached instances
 It will give a critical message if a partiular memcached host is
 inaccessible and generate a warning if the hit/miss ratio falls
 below a given threshold or the number of evictions exceeds a given
 limit.
 Hit/miss and evictions are measured over a 30 minute interval,
 using a memcached object to store the earlier statistics.
