Uploaders: Jan Wagner <waja@cyconet.org>
Recommends: libmonitoring-plugin-perl | libnagios-plugin-perl
Suggests: backuppc
Version: 1.1.0
Homepage: http://n-backuppc.sourceforge.net/
Watch: http://sourceforge.net/projects/n-backuppc/files/ check_backuppc-([0-9.]+)\.tar\.gz
Description: plugin for checking on the status of
 BackupPC backups
