Homepage: http://labs.consol.de/lang/en/nagios/check_webinject/
Watch: http://labs.consol.de/lang/en/nagios/check_webinject/ check_webinject-([0-9.]+)\.tar\.gz
Uploaders: Bernd Zeimetz <bzed@debian.org>
Recommands: libwebinject-perl
Description: plugin for testing web services
 It uses the WebInject Perl module for automated testing of
 web applications and web services. It can be used to check
 individual system components that have HTTP interfaces
 (JSP, ASP, CGI, PHP, AJAX, Servlets, HTML Forms,
 XML/SOAP Web Services, REST, etc).
Version: 1.69
