Homepage: https://www.secure-computing.net/trac/browser/SCN%20Open%20Source/trunk/nagios/
Watch: https://www.secure-computing.net/trac/browser/SCN%20Open%20Source/trunk/nagios/check_printer?format=raw SHA1:d2b7d0f7ca09d2813aca9d0904f069337bb6fe53
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: plugin to check printer supply levels using SNMP
 It outputs performance data for all supplies
 found, for example toner and drum.
Recommends: snmp, libmonitoring-plugin-perl | libnagios-plugin-perl
