Homepage: https://www.secure-computing.net/svn/trunk/nagios/
Watch: https://www.secure-computing.net/svn/trunk/nagios/check_printer SHA1:fcf202f7f593ae612138962ed6528fcb2224047a
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: plugin to check printer supply levels using SNMP
 It outputs performance data for all supplies
 found, for example toner and drum.
Recommends: snmp
