Uploaders: Bernd Zeimetz <bzed@debian.org>
Recommends: libnagios-plugin-perl (>= 0.31), libreadonly-perl, libnet-dns-perl 
Version: 1.3.2
Homepage: https://svn.id.ethz.ch/projects/nagios_plugins/wiki/check_rbl
Watch: https://svn.id.ethz.ch/projects/nagios_plugins/wiki/check_rbl check_rbl-([0-9.]+)\.tar\.gz
Description: plugin to check if a server is blacklisted
