Uploaders: Bernd Zeimetz <bzed@debian.org>
Build-Depends: libvarnishapi-dev [!hurd-i386 !m68k], pkg-config
Version: 1.1
Homepage: http://repo.varnish-cache.org/source/
Watch: http://repo.varnish-cache.org/source/ varnish-nagios-([0-9.]+)\.tar\.gz
Description: plugin to monitor varnish instances
