Homepage: https://github.com/skyscrapers/monitoring-plugins/blob/master/check_haproxy_stats.pl
Watch: https://raw.githubusercontent.com/skyscrapers/monitoring-plugins/master/check_haproxy_stats.pl VERSION = "([0-9.]+)"
Version: 1.1.3
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: check haproxy via admin socket
 Different from check_haproxy this plugin is able to check
 haproxy via the unix admin socket.
