Uploaders: Jan Wagner <waja@cyconet.org>
Recommends: curl, file, openssl
Suggests: expect
Version: 1.57.0
Homepage: https://github.com/matteocorti/check_ssl_cert
Watch: https://github.com/matteocorti/check_ssl_cert/releases check_ssl_cert-([0-9.]+)\.tar\.gz
Description: plugin to check the CA and validity of an
 X.509 certificate
