Suggests: nsca-client
Version: 1
Uploaders: Bernd Zeimetz <bzed@debian.org>
Description: various scripts and extras
 Not a plugin, but a collection of various useful
 event/obsession handlers and similar scripts.
